.aboutus-container {
}

@media only screen and (max-width: 990px) {
  .aboutus-container {
    display: "flex";
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
  }

  .myimage {
    height: 200px;
    object-fit: contain;
  }

  .ourStory {
    /* font-size: '20px'; */
    margin: 0;
  }


}
